---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: PR Lint

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

permissions:
  contents: read

jobs:
  Linter:
    name: PR Lint
    runs-on: ubuntu-latest
    permissions:
      contents: write # only for delete-branch option
      issues: write
      pull-requests: write
      statuses: write

    steps:
      - uses: ivuorinen/actions/pr-lint@56ff9a511caf60c95f99ae1bb9f8671fb6da88af # v2026.01.07
