---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Sync labels

permissions: read-all

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - .github/workflows/sync-labels.yml
      - .github/labels.yml
  schedule:
    - cron: "34 5 * * *"
  workflow_call:
  workflow_dispatch:

jobs:
  SyncLabels:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: ivuorinen/actions/sync-labels@a52399cf74eac2b0963591ab2c6c8eb0f7f50b2d # v2025.12.03
