---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Sync labels

permissions:
  contents: read

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - .github/workflows/sync-labels.yml
      - .github/labels.yml
  schedule:
    - cron: "34 5 * * *"
  workflow_call:
  workflow_dispatch:

jobs:
  SyncLabels:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: ivuorinen/actions/sync-labels@cbfddb24339ba1e0129cc50ab5a0045131b8a2ba # v2026.01.13
