---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Sync labels

permissions: read-all

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - .github/workflows/sync-labels.yml
      - .github/labels.yml
  schedule:
    - cron: "34 5 * * *"
  workflow_call:
  workflow_dispatch:

jobs:
  SyncLabels:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: ivuorinen/actions/sync-labels@abe24f85700ccc1ee47e70f4ebcf49d97ec60ce9 # v2025.11.28
