---
name: Run Go Tests and Generate SARIF

on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest

      - name: Run Linters
        run: |
          go vet ./...
          golangci-lint run
      - name: Run Go Tests
        shell: bash
        run: go test -json ./... > go-test-results.json

      - name: Convert JSON to SARIF
        run: go run ./cmd/main.go go-test-results.json go-test-results.sarif

      - name: Upload SARIF to GitHub Security Tab
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        with:
          sarif_file: go-test-results.sarif
